#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.login-logo {
  max-width: 150px;
}

.login-page-wrapper {
  height: 100vh;
  background: radial-gradient(circle, #ffffff, #e9ecef);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.login-card-wrapper {
  position: relative;
  z-index: 2;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  padding: 2.5rem 2rem;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.login-card-wrapper:hover {
  transform: translateY(-5px);
}

.login-card {
  background: transparent;
  border: none;
}

.btn-red {
  background-color: #e6373d;
  border: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}

.btn-red:hover {
  background-color: #c72f34;
  color: #fff;
}

.backdrop-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 8;
  display: none;
}

.backdrop-blur-block {
  display: block;
}

.expend-detail {
  background: #fff;
  width: 75vw;
  height: calc(100vh - 70px);
  z-index: 8;
  position: fixed;
  right: 0;
  bottom: 0px;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 10%);
  transition: 0.3s ease;

}

.expend-detail-close {
  width: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.expend-data {
  padding: 62px 15px 15px;
}

.expand-data-details p {
  color: #000;
  margin-bottom: 5px;
}

.expand-data-details p>span {
  color: #939597;
}

.closeIcon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
  color: #000;
  z-index: 9;
  cursor: pointer;
}

.status-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(63, 69, 81, 0.16);
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.status-badge {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 0 0 6px 6px;
  display: inline-block;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.add-btn {
    background-color: #c72f34;
    color: #fff;
    border: none;
    border-radius: 6px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
  background-color: #c72f34;
}
.documentView {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 40px 10px 15px;
    color: #000;
    text-decoration: none;
    position: relative;
}
.documentView img {
    max-width: 100%;
    height: 200px;
}

.documentView p{
  text-decoration: none;
  margin-top: 20px;
}
.notification-link{
    text-decoration: none;
    color: #222;
    font-weight: 400;
    font-size: 14px;
}
.notification-link-bold{
  font-weight: 500;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}